In [ ]:
 #-----------Monster Analysis---------------------------

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
data = pd.read_csv("C:\\Users\\Kasutaja\\Downloads\\monster_com-job_sample.csv")
data.iloc[0:2]

In [ ]:
data.info()

In [ ]:
data = data.drop(['country','country_code','job_board','has_expired'], axis = 1)

In [ ]:
data = data.drop(['page_url','uniq_id'], axis = 1)

In [ ]:

""""datat = data.location.unique()
loc_con = {}
for i in range(len(datat)):
    loc_con[i] = datat[i]
for k in data.organization.keys():
    temp = data.organization[k]
    data.organization[k] = data.location[k]
    loc_con[k] = data.organization[k]"""

In [ ]:
data.head(3)

In [ ]:
#swapping data in two columns
chec = data.location.unique()
uniq_loc = {}
for i in range(len(chec)):
    uniq_loc[i] = chec[i]
for k in data.organization.keys():
    if data.organization[k] in chec:
        temp = data.organization[k]
        data.organization[k] = data.location[k]
        data.location[k] =temp

In [ ]:
data

In [ ]:
"""
#delete value after split delimiter
data['location'] = data['location'].astype(str)
location =data['location'].str.split(',')
data['location'] = location.str[0]"""

In [ ]:
dast = [data['location'].str.slice(0,10) if len(data['location']) > 20 else data['location'].str.split(",") ]

In [ ]:
dast

In [ ]:

data = data[data['location'].apply(lambda x:len(x) < 20)]
location =data['location'].str.split(',')
data['location'] = location.str[0]

In [ ]:
# I assume the location field won't be having characters more than 20
data['location']

In [ ]:
"""
# Sample DataFrame
data = {'text': ['This is a long text', 'Short text', 'Another long text']}
df = pd.DataFrame(data)

# Define a function to truncate text
def truncate_text(text, length=10):
    return text[:length]

# Apply the function to the 'text' column
df['text'] = df['text'].apply(truncate_text)

print(df)
"""

In [ ]:
#In Location column, instead of city name there i s a zip code. I am deleting those rows which have zip code. For that I used regex, it will match the below pattern and the numeric rows will be deleted